@import 'src/assets/styles/settings/settings';
@import 'src/assets/styles/helpers/helpers';

.panel {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 380px;
  background: govuk-colour('white');
  border-left: 1px solid $govuk-border-colour;
  z-index: $z-menu;
  padding: govuk-spacing(5);
  transform: translateX(100%);
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: auto;
  overflow-x: hidden; //hides the horizontal scrollbar that appears when vertical scrolling is enabled as it's not required to access functionality
  &--open {
    visibility: visible;
    transform: translateX(0);
  }
  &__close-wrapper {
    text-align: right;
  }
  &__close-btn {
    @include govuk-font(19);
  }
}
