<form [formGroup]="alertForm" (ngSubmit)="onSubmit()">
  <gds-error-summary [errors]="errors" id="alert-error"></gds-error-summary>
  <gds-radios legend="Notification type" size="small" [conditional]="true" [error]="getError('alertType')">
    <gds-radio-item
      label="Feed failure"
      name="alert-type"
      inputId="feed-failure-radio"
      formControlName="alertType"
      [value]="AlertTypeEnum.FeedFailure"
      controls="feed-failure-hint"
    ></gds-radio-item>
    <gds-radio-conditional id="feed-failure-hint" [visible]="alertType === AlertTypeEnum.FeedFailure"
      ><p class="govuk-body text-secondary">
        A feed failure occurs when no data has been received, or the feed contains no vehicles at a time when vehicles
        are scheduled to be running.
      </p></gds-radio-conditional
    >
    <gds-radio-item
      label="Vehicle count disparity"
      name="alert-type"
      inputId="count-disparity-radio"
      formControlName="alertType"
      [value]="AlertTypeEnum.VehicleCountDisparity"
      controls="count-disparity-hint"
    ></gds-radio-item>
    <gds-radio-conditional id="count-disparity-hint" [visible]="alertType === AlertTypeEnum.VehicleCountDisparity">
      <p class="govuk-body text-secondary">
        A vehicle count disparity alert occurs when there is a difference between the number of vehicles in the feed and
        the number of vehicles scheduled to be running.
      </p>
    </gds-radio-conditional>
  </gds-radios>
  <!-- feed failure fields -->
  <div *ngIf="alertType === AlertTypeEnum.FeedFailure">
    <gds-select
      inputId="feed-failure-delay"
      formControlName="eventHysterisis"
      label="If vehicle data has been missing for more than"
    >
      <option value="5">5 minutes</option>
      <option value="10">10 minutes</option>
      <option value="15">15 minutes</option>
      <option value="20">20 minutes</option>
      <option value="25">25 minutes</option>
      <option value="30">30 minutes</option>
    </gds-select>
    <gds-select inputId="feed-failure-send-to" formControlName="sendToId" label="Send a notification to">
      <option *ngFor="let user of users" [value]="user.id">
        {{ userDisplayName(user) }}
      </option>
    </gds-select>
  </div>
  <!-- Vehicle count disparity fields -->
  <div *ngIf="alertType === AlertTypeEnum.VehicleCountDisparity">
    <gds-text-input
      inputId="count-disparity"
      label="If the count disparity is greater than"
      formControlName="eventThreshold"
      width="3"
      suffix="vehicles"
      inputMode="numeric"
      type="number"
      [error]="getError('eventThreshold')"
    ></gds-text-input>
    <gds-select inputId="count-disparity-send-to" formControlName="sendToId" label="Send a notification to">
      <option *ngFor="let user of users" [value]="user.id">{{ userDisplayName(user) }}</option>
    </gds-select>
  </div>
  <ng-container *ngIf="editing">
    <!-- delete alert -->
    <app-box *ngIf="!confirmDeleteAlert"
      ><div class="flex-row justify-content-between align-items-center">
        <div class="govuk-body govuk-!-margin-bottom-0">Delete this feed notification</div>
        <div>
          <gds-button
            text="Delete"
            appearance="warning"
            spaceBelow="0"
            (click)="confirmDeleteAlert = true"
          ></gds-button>
        </div></div
    ></app-box>
    <app-box *ngIf="confirmDeleteAlert">
      <div class="flex-column">
        <div class="govuk-body">
          <span class="govuk-!-font-weight-bold">This operation cannot be undone</span>. Are you sure you wish to delete
          this notification?
        </div>
        <div>
          <gds-button text="Yes, please delete" appearance="warning" spaceBelow="0" (click)="onDelete()"></gds-button>
        </div></div
    ></app-box>
  </ng-container>
  <div class="flex-row justify-content-between align-items-center govuk-!-margin-top-6">
    <gds-button text="Cancel" appearance="secondary" spaceBelow="0" (click)="closeEdit.emit()"></gds-button>
    <gds-button
      [text]="editing ? 'Update notification' : 'Create notification'"
      type="submit"
      spaceBelow="0"
    ></gds-button>
  </div>
</form>
