<div class="helpdesk-overlay" [ngClass]="{ 'helpdesk-overlay--open': isOpen }"></div>
<div
  class="helpdesk-panel"
  [ngClass]="{ 'helpdesk-panel--open': isOpen }"
  (appMouseupOutside)="closeHelpdesk()"
  [appTrapFocus]="isOpen"
>
  <div class="helpdesk-panel__heading">
    <h2 class="govuk-heading-l">{{ data?.title }}</h2>
    <button type="button" class="helpdesk-panel__close-button button-link govuk-link" (click)="closeHelpdesk()">
      Close
    </button>
  </div>

  <gds-accordion *ngIf="data?.articles?.length; else noArticlesTmp">
    <gds-accordion-section
      *ngFor="let article of data?.articles"
      [heading]="article.title"
      [summary]="article.seo_data.meta_description"
    >
      <div class="govuk-body" [innerHTML]="article.description | freshdeskHtmlFormatter | trustMe"></div>
    </gds-accordion-section>
  </gds-accordion>

  <ng-template #noArticlesTmp>
    <h2>Sorry, there are no help articles for this section</h2>
    <div class="govuk-body">
      <p>We are working on adding more.</p>
      <p>
        If you have any questions or would like to leave feedback please email
        <a class="govuk-link" href="mailto:support@itoworld.com" target="_blank">support@itoworld.com</a>
      </p>
    </div>
  </ng-template>
</div>
