<header class="{{ headerClasses }}">
  <gds-notification-banner
    *ngIf="banner"
    [title]="banner.title"
    [identifier]="banner.id"
    [dismissable]="banner.dismissable"
    [success]="banner.success"
    (dismissEvent)="banner.onDismiss()"
  >
    <div class="govuk-body">{{ banner.message }}</div>
  </gds-notification-banner>
  <span class="govuk-caption-xl" *ngIf="caption">{{ caption }}</span>
  <h1 class="govuk-heading-xl page-header__title" *ngIf="heading">
    <app-browser-title title="{{ heading }}" [renderTitle]="true"></app-browser-title>
  </h1>
</header>
