<div [ngClass]="operatorSelectorClasses" *ngIf="operator && allOperators; else loading">
  <span *ngIf="allOperators && allOperators.length === 1" class="govuk-caption-l"
    >{{ operator.name }} ({{ operator.nocCode }})</span
  >
  <ng-container *ngIf="allOperators && allOperators.length > 1">
    <div class="operator-selector__label"><span class="govuk-caption-l govuk-!-margin-bottom-0">Operator</span></div>
    <div class="operator-selector__selector">
      <ng-select
        class="operator-select"
        [ngModel]="operator.nocCode"
        [clearable]="false"
        [virtualScroll]="true"
        (change)="changeOperator($event)"
      >
        <ng-option *ngIf="allowAll" [value]="'all'">All operators</ng-option>
        <ng-option *ngFor="let option of allOperators" [value]="option.nocCode"
          >{{ option.name }} <span>({{ option.nocCode }})</span></ng-option
        >
      </ng-select>
    </div>
  </ng-container>
</div>

<ng-template #loading>
  <div class="operator-selector">
    <app-skeleton appearance="caption-l" width="300px" spaceBelow="6"></app-skeleton>
  </div>
</ng-template>
