@import 'src/assets/styles/settings/settings';
@import 'src/assets/styles/helpers/helpers';

.header {
  border-bottom: 10px solid $govuk-brand-colour;
  &__logo {
    width: auto;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    @include govuk-clearfix();
    &:after {
      display: none;
    }
  }
}
