<app-page>
  <ng-container ngProjectAs="content"
    ><app-browser-title title="Reset password" [renderTitle]="false"></app-browser-title>
    <div *ngIf="keyChecked" id="reset-password-container">
      <ng-container *ngIf="resetSuccess; else showForm">
        <div class="govuk-grid-row" id="reset-password-success">
          <div class="govuk-grid-column-two-thirds-from-desktop">
            <gds-panel title="Reset successful."></gds-panel>
            <p class="govuk-body">
              Your password has been reset, please <a class="govuk-link" href="#" [routerLink]="['/login']">Sign in</a>.
            </p>
          </div>
        </div>
      </ng-container>
      <ng-template #showForm>
        <ng-container *ngIf="keyOk; else notFound">
          <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds-from-desktop">
                <gds-error-summary [errors]="errors" id="reset-password-error"></gds-error-summary>
              </div>
            </div>
            <gds-fieldset legend="Reset your account password">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop">
                  <p class="govuk-body">Enter a new password for your account:</p>
                  <gds-password-input
                    inputId="reset-password-password"
                    formControlName="password"
                    type="password"
                    label="Password"
                    [error]="getError('password')"
                    [required]="true"
                    width="20"
                    autocomplete="new-password"
                  ></gds-password-input>
                  <gds-password-input
                    inputId="reset-password-confirm-password"
                    formControlName="confirmPassword"
                    type="password"
                    label="Confirm password"
                    [error]="getError('confirmPassword')"
                    [required]="true"
                    width="20"
                    autocomplete="new-password"
                  ></gds-password-input>
                  <div [style.max-width]="'41ex'">
                    <gds-button text="Reset password" type="submit"></gds-button>
                  </div>
                </div>
                <div id="password-policy" class="govuk-grid-column-one-third-from-desktop">
                  <p class="govuk-body">Your password must:</p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li *ngFor="let policy of passwordPolicy">{{ policy }}</li>
                  </ul>
                </div>
              </div>
            </gds-fieldset>
          </form>
        </ng-container>
        <ng-template #notFound>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop govuk-body">
              <h1 class="govuk-heading-l">Reset your password</h1>
              <p id="key-notfound">This reset password link has already been used or has expired.</p>
              <p>
                Please <a class="govuk-link" [routerLink]="['/forgot-password']">request a new reset password link</a>,
                or if you have any difficulty by
                <a class="govuk-link" href="https://www.bus-data.dft.gov.uk/contact/">contacting us</a>.
              </p>
              <p>Once a new link is sent please use the link within 72 hours of receiving it.</p>
            </div>
          </div>
        </ng-template>
      </ng-template>
    </div>
  </ng-container>
</app-page>
