<div class="search-box__container">
  <div class="govuk-input__wrapper search-box__wrapper">
    <input
      disabled
      class="govuk-input govuk-!-font-size-16 search-box__input search-box__input--disabled"
      [id]="id"
      placeholder="Search for an operator, service or stop"
      spellcheck="spellcheck"
      [name]="id"
      type="text"
      attr.aria-describedby="{{ id }}-hint"
      [ngModel]="input"
      (ngModelChange)="onChange($event)"
    />
    <button disabled type="submit" class="search-box__button search-box__button--disabled">
      <svg-icon class="search-box__button-icon" src="assets/icons/search.svg"> </svg-icon>
    </button>
  </div>
</div>
