<app-page>
  <ng-container ngProjectAs="back-link">
    <gds-back-link label="All users" [route]="['/organisation/users']"></gds-back-link>
  </ng-container>
  <ng-container ngProjectAs="content">
    <form *ngIf="user" [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
          <gds-error-summary [errors]="errors" id="user-error"></gds-error-summary>
        </div>
      </div>
      <app-page-header heading="Edit user"></app-page-header>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
          <app-stack childMin="200px">
            <gds-text-input
              inputId="user-first-name"
              formControlName="firstName"
              type="text"
              label="First name"
              [error]="getError('firstName')"
              [required]="true"
            ></gds-text-input>
            <gds-text-input
              inputId="user-last-name"
              formControlName="lastName"
              type="text"
              label="Last name"
              [error]="getError('lastName')"
              [required]="true"
            ></gds-text-input>
          </app-stack>
          <gds-text-input
            inputId="user-email"
            formControlName="username"
            label="Email address"
            [error]="getError('username')"
          >
          </gds-text-input>
          <fieldset class="govuk-fieldset govuk-!-margin-bottom-6">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Access level</legend>
            <div class="govuk-radios govuk-radios--inline govuk-radios--small">
              <div class="govuk-radios__item" *ngFor="let role of orgRoles">
                <input
                  class="govuk-radios__input"
                  [id]="'access-org-' + role.name"
                  name="role"
                  type="radio"
                  [value]="role.id"
                  formControlName="role"
                />
                <label class="govuk-label govuk-radios__label" [for]="'access-org-' + role.name">
                  {{ role.name }}
                </label>
              </div>
            </div>
          </fieldset>
          <app-box>
            <div class="flex-row justify-content-between align-items-center">
              <span class="govuk-body govuk-!-margin-bottom-0"
                >Remove access for {{ userForm.get('username')?.value }}</span
              >
              <app-modal title="Remove access?" identifier="removeUser">
                <form>
                  <p class="govuk-body">
                    Are you sure you want to remove the account for {{ userForm.get('username')?.value }}? This action
                    cannot be reversed
                  </p>
                  <div class="flex-row justify-content-between">
                    <gds-button
                      text="Cancel"
                      spaceBelow="0"
                      appearance="secondary"
                      (click)="ngxSmartModalService.getModal('removeUser').close()"
                    ></gds-button>
                    <gds-button text="Remove" spaceBelow="0" (click)="removeUser()" appearance="warning"></gds-button>
                  </div>
                </form>
              </app-modal>
              <gds-button
                text="Remove"
                appearance="warning"
                spaceBelow="0"
                (click)="ngxSmartModalService.getModal('removeUser').open()"
              ></gds-button>
            </div>
          </app-box>
          <div class="flex-row justify-content-between align-items-center govuk-!-margin-top-6">
            <gds-button text="Cancel" appearance="secondary" (click)="onClose()"></gds-button>
            <gds-button text="Save changes" type="submit"></gds-button>
          </div>
        </div>
      </div>
    </form>
  </ng-container>
</app-page>
