<app-page>
  <ng-container ngProjectAs="back-link" *ngIf="!singleOperator">
    <gds-back-link label="All operators" [route]="['../']" queryParamsHandling="preserve"></gds-back-link>
  </ng-container>
  <ng-container ngProjectAs="content">
    <app-page-header
      heading="All services"
      caption="On-time performance"
      spaceAbove="2"
      spaceBelow="2"
    ></app-page-header>
    <div>
      <app-operator-selector
        [allOperators]="allOperators"
        [operator]="operator"
        (operatorChange)="changeOperator($event)"
        spaceBelow="4"
      ></app-operator-selector>
    </div>
    <ng-container *ngIf="operator">
      <app-controls [operatorId]="operator.operatorId" (params)="params$.next($event)"></app-controls>
      <app-box [padding]="['6', '5', '6', '5']" spaceAbove="6" spaceBelow="8">
        <app-tabs (tabChanged)="tabChanged($event)">
          <app-tab tabTitle="Timeline" id="timeline">
            <div *appTabContent class="on-time__wrapper">
              <app-chart-no-data-wrapper
                [noData]="noData"
                [dataExpected]="dataExpected"
                class="on-time__otp-chart-wrapper"
              >
                <app-on-time-time-series-chart
                  class="on-time__otp-chart"
                  [params]="params$ | async"
                ></app-on-time-time-series-chart>
              </app-chart-no-data-wrapper>
            </div>
          </app-tab>
          <app-tab tabTitle="Distribution" id="distribution">
            <div class="on-time__wrapper">
              <app-chart-no-data-wrapper *appTabContent [noData]="noData" [dataExpected]="dataExpected">
                <app-delay-frequency-chart
                  class="on-time__dist-chart"
                  [params]="params$ | async"
                ></app-delay-frequency-chart>
              </app-chart-no-data-wrapper>
            </div>
          </app-tab>
          <app-tab tabTitle="Time of day" id="time-of-day">
            <div class="on-time__wrapper">
              <app-chart-no-data-wrapper *appTabContent [noData]="noData" [dataExpected]="dataExpected">
                <app-time-of-day-chart class="on-time__tod-chart" [params]="params$ | async"></app-time-of-day-chart>
              </app-chart-no-data-wrapper>
            </div>
          </app-tab>
          <app-tab tabTitle="Day of week" id="day-of-week">
            <div class="on-time__wrapper">
              <app-chart-no-data-wrapper *appTabContent [noData]="noData" [dataExpected]="dataExpected">
                <app-day-of-week-chart class="on-time__dow-chart" [params]="params$ | async"></app-day-of-week-chart>
              </app-chart-no-data-wrapper>
            </div>
          </app-tab>
        </app-tabs>
      </app-box>
      <app-overview-stats
        [showTotal]="false"
        [overview]="overview"
        [frequent]="(frequentServiceInfo?.numHours || 0) > 0"
        [headwayOverview]="headwayOverview"
        [loading]="overviewLoading"
        [params$]="params$.asObservable()"
      ></app-overview-stats>
      <app-service-grid [params]="params$ | async"></app-service-grid>
    </ng-container>
  </ng-container>
</app-page>
