<app-page *ngIf="!lineNotFound; else lineNotFoundPage">
  <ng-container ngProjectAs="back-link">
    <gds-back-link label="All services" [route]="['../']" queryParamsHandling="preserve"></gds-back-link>
  </ng-container>
  <ng-container ngProjectAs="content">
    <app-page-header
      *ngIf="service; else skeleton"
      [heading]="service.serviceNumber + ' - ' + service.serviceName"
      caption="On-time performance"
      spaceAbove="2"
      spaceBelow="2"
    ></app-page-header>
    <ng-template #skeleton>
      <app-skeleton appearance="caption-l" width="300px" spaceAbove="2" spaceBelow="2"></app-skeleton>
    </ng-template>
    <ng-container *ngIf="operator">
      <div class="on-time__operator">
        <span class="govuk-caption-l govuk-!-margin-bottom-4">{{ operator.name }} ({{ operator.nocCode }})</span>
      </div>
      <app-controls
        [operatorId]="operator.operatorId"
        (params)="params$.next($event)"
        [showAdminAreas]="false"
      ></app-controls>
      <app-box [padding]="['6', '5', '6', '5']" spaceAbove="4" spaceBelow="8">
        <app-tabs (tabChanged)="tabChanged($event)">
          <app-tab #mapTab tabTitle="Map" id="map">
            <div class="on-time__wrapper" *appTabContent>
              <app-service-map [timingPointsOnly]="timingPointsOnly" [params]="params$ | async"></app-service-map>
            </div>
          </app-tab>
          <app-tab tabTitle="Timeline" id="timeline">
            <div *appTabContent class="on-time__wrapper">
              <app-spinner
                *ngIf="frequentServiceInfoLoading"
                [vCentre]="true"
                message="Loading..."
                size="default"
              ></app-spinner>
              <ng-container *ngIf="!frequentServiceInfoLoading">
                <app-chart-no-data-wrapper
                  *ngIf="overviewMode === 'on-time-performance'"
                  [noData]="noData"
                  [dataExpected]="dataExpected"
                  class="on-time__otp-chart-wrapper"
                >
                  <app-on-time-time-series-chart
                    class="on-time__otp-chart"
                    [params]="params$ | async"
                  ></app-on-time-time-series-chart>
                </app-chart-no-data-wrapper>
                <app-chart-no-data-wrapper
                  [noData]="timingPointsOnly || minMaxDelay"
                  [timingPointsNotSupported]="timingPointsOnly"
                  [minMaxDelayNotSupported]="minMaxDelay"
                  *ngIf="overviewMode === 'excess-wait-time'"
                  class="on-time__ewt-chart"
                >
                  <app-excess-wait-time-chart
                    class="on-time__ewt-chart"
                    [params]="params$ | async"
                  ></app-excess-wait-time-chart>
                </app-chart-no-data-wrapper>
                <div
                  class="on-time__chart-footer"
                  *ngIf="!frequentServiceInfoLoading && (frequentServiceInfo?.numHours || 0) > 0"
                >
                  <div class="on-time__service-info" *ngIf="overviewMode === 'excess-wait-time'">
                    {{ frequentServiceInfo?.numHours }} hours out of a total
                    {{ frequentServiceInfo?.totalHours }} service hours during the selected period operated on a
                    frequent service basis. Excess Waiting Time is averaged over the period in which the service is
                    running on a frequent basis.
                  </div>
                  <div class="on-time__mode-select">
                    <label class="govuk-label on-time__mode-label" for="overviewMode">Show:</label>
                    <select
                      class="govuk-select"
                      id="overviewMode"
                      name="overviewMode"
                      [ngModel]="overviewMode"
                      (ngModelChange)="overviewModeChanged($event)"
                    >
                      <option ngValue="on-time-performance">On-time performance</option>
                      <option ngValue="excess-wait-time">Excess waiting time</option>
                    </select>
                  </div>
                </div>
              </ng-container>
            </div>
          </app-tab>
          <app-tab tabTitle="Distribution" id="distribution">
            <div class="on-time__wrapper">
              <app-chart-no-data-wrapper *appTabContent [noData]="noData" [dataExpected]="dataExpected">
                <app-delay-frequency-chart
                  class="on-time__dist-chart"
                  [params]="params$ | async"
                ></app-delay-frequency-chart>
              </app-chart-no-data-wrapper>
            </div>
          </app-tab>
          <app-tab tabTitle="Time of day" id="time-of-day">
            <div class="on-time__wrapper">
              <app-chart-no-data-wrapper *appTabContent [noData]="noData" [dataExpected]="dataExpected">
                <app-time-of-day-chart class="on-time__tod-chart" [params]="params$ | async"></app-time-of-day-chart>
              </app-chart-no-data-wrapper>
            </div>
          </app-tab>
          <app-tab tabTitle="Day of week" id="day-of-week">
            <div class="on-time__wrapper">
              <app-chart-no-data-wrapper *appTabContent [noData]="noData" [dataExpected]="dataExpected">
                <app-day-of-week-chart class="on-time__dow-chart" [params]="params$ | async"></app-day-of-week-chart>
              </app-chart-no-data-wrapper>
            </div>
          </app-tab>
        </app-tabs>
      </app-box>
      <app-overview-stats
        [showTotal]="false"
        [overview]="overview"
        [frequent]="(frequentServiceInfo?.numHours || 0) > 0"
        [headwayOverview]="headwayOverview"
        [loading]="overviewLoading"
        [params$]="params$.asObservable()"
      ></app-overview-stats>
      <app-stops-grid [params]="params$ | async"></app-stops-grid>
    </ng-container>
  </ng-container>
</app-page>

<ng-template #lineNotFoundPage>
  <app-page>
    <ng-container ngProjectAs="back-link">
      <gds-back-link
        [route]="['../']"
        [queryParams]="mapTab?.active ? { tab: undefined } : {}"
        queryParamsHandling="merge"
        label="All services"
      ></gds-back-link>
    </ng-container>
    <ng-container ngProjectAs="content">
      <app-page-header caption="On-time performance" heading="Not found"></app-page-header>
      <p class="govuk-body">
        Service not found, or you do not have permission to view. Go back to
        <a [routerLink]="['../']">operator</a>?
      </p>
    </ng-container>
  </app-page>
</ng-template>
