<mgl-map
  [style]="mapboxStyle"
  [bounds]="initialBounds"
  (moveEnd)="updateBounds()"
  (moveStart)="moveCounter = moveCounter + 1"
  [cursorStyle]="mapCursor"
  (mapLoad)="map = $event"
>
  <mgl-control position="top-left">
    <app-dropdown identifier="map-display-menu" triggerLabel="Display options" [width]="200">
      <p class="govuk-body govuk-!-margin-bottom-2"><strong>Map view</strong></p>
      <app-map-view-toggle (mapboxStyle)="mapboxStyle = $event"></app-map-view-toggle>
    </app-dropdown>
  </mgl-control>
  <mgl-control position="bottom-left">
    <app-map-recentre-button
      *ngIf="moveCounter > 1 && displayRecentreButton"
      (recentre)="onRecentreMap()"
    ></app-map-recentre-button>
  </mgl-control>
  <mgl-geojson-source
    *ngIf="matchingStops"
    id="matching-stops"
    [data]="matchingStops"
    [cluster]="true"
    [clusterMinPoints]="30"
  ></mgl-geojson-source>
  <mgl-geojson-source
    *ngIf="matchingStopLines"
    id="matching-stop-lines"
    [data]="matchingStopLines"
  ></mgl-geojson-source>
  <mgl-geojson-source *ngIf="corridorStops" id="corridor-stops" [data]="corridorStops"></mgl-geojson-source>
  <mgl-geojson-source *ngIf="corridorLine" id="corridor-line" [data]="corridorLine"></mgl-geojson-source>
  <mgl-geojson-source *ngIf="otherStops" id="other-stops" [data]="otherStops"></mgl-geojson-source>
  <mgl-geojson-source *ngIf="nonOrgStops" id="non-org-stops" [data]="nonOrgStops"></mgl-geojson-source>
  <mgl-layer
    *ngIf="corridorStops"
    id="corridor-markers"
    type="circle"
    [paint]="{
      'circle-color': '#ffffff',
      'circle-radius': 6,
      'circle-stroke-width': 4,
      'circle-stroke-color': '#0b0c0c',
      'circle-pitch-alignment': 'map'
    }"
    source="corridor-stops"
    (layerMouseMove)="mapSetHover(stop($event))"
    (layerMouseLeave)="mapClearHover()"
  ></mgl-layer>
  <mgl-layer
    *ngIf="matchingStops"
    id="matching-stop-clusters"
    type="circle"
    [filter]="['has', 'point_count']"
    [paint]="{
      'circle-color': '#0b0c0c',
      'circle-radius': ['interpolate', ['linear'], ['get', 'point_count'], 10, 16, 300, 33],
      'circle-stroke-width': 2,
      'circle-stroke-color': '#0b0c0c'
    }"
    source="matching-stops"
  ></mgl-layer>
  <mgl-layer
    *ngIf="matchingStops"
    id="matching-stop-clusters-inner"
    type="circle"
    [filter]="['has', 'point_count']"
    [paint]="{
      'circle-radius': ['interpolate', ['linear'], ['get', 'point_count'], 10, 14, 300, 31],
      'circle-stroke-width': 2,
      'circle-stroke-color': '#ffffff'
    }"
    source="matching-stops"
  ></mgl-layer>
  <mgl-layer
    *ngIf="matchingStops"
    id="matching-stop-clusters-size"
    type="symbol"
    [filter]="['has', 'point_count']"
    [paint]="{ 'text-color': '#ffffff' }"
    [layout]="{
      'text-field': '{point_count_abbreviated}',
      'text-font': ['Overpass Bold', 'Arial Unicode MS Bold'],
      'text-size': 16,
      'text-line-height': 1.25,
      'text-allow-overlap': true,
      'text-ignore-placement': true
    }"
    source="matching-stops"
  ></mgl-layer>
  <mgl-layer
    *ngIf="matchingStops"
    id="matching-stop-markers"
    type="circle"
    [filter]="['!', ['has', 'point_count']]"
    [paint]="{
      'circle-color': '#ffffff',
      'circle-radius': 6,
      'circle-stroke-width': 4,
      'circle-stroke-color': [
        'case',
        ['boolean', ['feature-state', 'hover'], stopList.length === 0],
        '#0b0c0c',
        '#B1B4B6'
      ],
      'circle-pitch-alignment': 'map'
    }"
    source="matching-stops"
    [before]="corridorStops ? 'corridor-markers' : 'matching-stop-clusters'"
    (layerMouseMove)="mapSetHover(stop($event), true)"
    (layerMouseLeave)="mapClearHover()"
    (layerClick)="selectStop.emit(stop($event))"
  ></mgl-layer>
  <mgl-layer
    *ngIf="matchingStopLines"
    id="matching-stop-lines-layer"
    type="line"
    [paint]="{
      'line-color': '#1d70b8',
      'line-width': ['case', ['boolean', ['feature-state', 'hover'], false], 5, 0]
    }"
    [layout]="{
      'line-cap': 'round',
      'line-join': 'round'
    }"
    source="matching-stop-lines"
    [before]="matchingStops ? 'matching-stop-markers' : undefined"
  ></mgl-layer>
  <mgl-layer
    *ngIf="matchingStopLines"
    id="matching-stop-chevrons"
    type="symbol"
    [paint]="{
      'icon-opacity': ['case', ['boolean', ['feature-state', 'hover'], false], 1, 0]
    }"
    [layout]="{
      'icon-image': 'map-chevron-large',
      'symbol-placement': 'line',
      'symbol-spacing': 200
    }"
    source="matching-stop-lines"
  ></mgl-layer>
  <mgl-layer
    *ngIf="corridorLine"
    id="corridor-line-layer"
    type="line"
    [paint]="{
      'line-color': '#1d70b8',
      'line-width': 5
    }"
    [layout]="{
      'line-cap': 'round',
      'line-join': 'round'
    }"
    source="corridor-line"
    [before]="corridorStops ? 'corridor-markers' : undefined"
  ></mgl-layer>
  <mgl-layer
    *ngIf="corridorLine"
    id="corridor-chevrons"
    type="symbol"
    [layout]="{
      'icon-image': 'map-chevron-large',
      'symbol-placement': 'line',
      'symbol-spacing': 200
    }"
    source="corridor-line"
  ></mgl-layer>
  <mgl-layer
    *ngIf="otherStops"
    id="other-stop-markers"
    type="circle"
    [paint]="{
      'circle-color': '#28A197',
      'circle-radius': ['interpolate', ['exponential', 0.6], ['zoom'], 11, 2, 13, 5],
      'circle-pitch-alignment': 'map'
    }"
    source="other-stops"
    [before]="matchingStops ? 'matching-stop-markers' : corridorStops ? 'corridor-markers' : undefined"
    (layerMouseMove)="mapSetHover(stop($event))"
    (layerMouseLeave)="mapClearHover()"
  ></mgl-layer>
  <mgl-layer
    *ngIf="nonOrgStops"
    id="non-org-stop-markers"
    type="circle"
    [paint]="{
      'circle-color': '#B1B4B6',
      'circle-radius': ['interpolate', ['exponential', 0.6], ['zoom'], 11, 2, 13, 5],
      'circle-pitch-alignment': 'map'
    }"
    source="non-org-stops"
    [before]="nonOrgStopLayerBeforeId"
    (layerMouseMove)="
      mapSetHover(stop($event));
      stopTooltipMessage = 'We can\'t find any services from your organisation\'s data that use this stop'
    "
    (layerMouseLeave)="mapClearHover(); stopTooltipMessage = undefined"
  ></mgl-layer>
  <mgl-popup
    *ngIf="hoveredStop"
    [feature]="hoveredStop"
    [closeButton]="false"
    [closeOnClick]="false"
    maxWidth="200"
    [offset]="12"
    className="gds-popup"
  >
    <div [style.max-width]="'200px'">
      <div class="govuk-body-small govuk-!-font-weight-bold govuk-!-margin-bottom-1">
        {{ hoveredStop.properties.stopName }}
      </div>
      <div class="govuk-body-small">{{ hoveredStop.properties.localityName }} {{ hoveredStop.properties.naptan }}</div>
      <ng-container *ngIf="stopTooltipMessage">
        <hr />
        <div class="govuk-body-small">{{ stopTooltipMessage }}</div>
      </ng-container>
    </div>
  </mgl-popup>
  <mgl-control mglNavigation></mgl-control>
  <mgl-control mglGeolocate></mgl-control>
</mgl-map>
