@import 'src/assets/styles/settings/settings';
@import 'src/assets/styles/helpers/helpers';

:host {
  position: relative;
  z-index: $z-popover;
}

.date-range-controls {
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: -2px;
  width: 90vw;
  background: govuk-colour('white');
  border: 2px solid govuk-colour('black');
  box-sizing: border-box;

  &__date-range {
    padding: govuk-spacing(4);
  }

  &__calendar-wrapper {
    margin-bottom: govuk-spacing(1);
  }

  &__calendar-header {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: govuk-spacing(1);
  }

  &__month-name {
    @include govuk-font(19);
    &--this-month {
      font-weight: $govuk-font-weight-bold;
    }
  }
  &__month-step {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 24px;
    height: 24px;
    color: govuk-colour('blue');
    &--disabled {
      pointer-events: none;
      color: govuk-colour('mid-grey');
    }
    &--next {
      right: 0;
    }
    &--prev {
      left: 0;
    }
  }

  &__chevron-left,
  &__chevron-right {
    display: block;
    width: 24px;
    height: 24px;
  }

  &__calendar-day-names {
    display: flex;
    align-items: center;
  }

  &__calendar-days {
    display: flex;
    flex-wrap: wrap;
  }

  &__day,
  &__day-name {
    width: calc(100% / 7);
    display: inline-flex;
    position: relative;
    color: govuk-colour('black');
    align-items: center;
    justify-content: center;
    @include govuk-font(19);
    user-select: none;
    padding: 3px govuk-spacing(1);
  }

  &__day {
    position: relative;
    &:hover {
      cursor: pointer;
      background-color: govuk-colour('light-grey');
    }
    &--today {
      font-weight: $govuk-font-weight-bold;
    }
    &--disabled {
      color: govuk-colour('mid-grey');
      pointer-events: none;
    }
    &--start,
    &--end {
      color: govuk-colour('white');
      &:hover {
        background-color: darken(govuk-colour('blue'), 10);
      }
    }
    &--start {
      border-top-left-radius: 999em;
      border-bottom-left-radius: 999em;
      background-color: govuk-colour('blue');
    }
    &--end {
      border-top-right-radius: 999em;
      border-bottom-right-radius: 999em;
      background-color: govuk-colour('blue');
    }
    &--included:not(.date-range-controls__day--end, .date-range-controls__day--start) {
      background-color: govuk-colour('light-blue');
      color: govuk-colour('white');
      &:hover {
        background-color: darken(govuk-colour('light-blue'), 10);
      }
    }
    &--invisible {
      visibility: hidden;
    }
    &--saturday {
      border-left: 1px solid $govuk-border-colour;
    }
  }

  &__buttons {
    margin-top: govuk-spacing(4);
    display: flex;
    justify-content: space-between;
  }
}

@include bp($tablet) {
  .date-range-controls {
    width: rem(720);
  }
}
