<div
  [ngClass]="{
    'govuk-form-group password-input': true,
    'govuk-form-group--error': error
  }"
>
  <label class="govuk-label" [ngClass]="{ 'password-input__label--required': required }" [for]="inputId">
    {{ label }}
  </label>
  <span *ngIf="error" [id]="inputId + '-error'" class="govuk-error-message">
    <span class="govuk-visually-hidden">Error:</span> {{ error }}
  </span>
  <div class="govuk-input__wrapper">
    <input
      [ngClass]="inputClasses"
      [id]="inputId"
      [name]="inputId"
      [type]="type"
      [formControl]="control"
      [attr.required]="required ? 'true' : null"
      [attr.autocomplete]="autocomplete ? autocomplete : null"
    />
    <div
      role="button"
      class="govuk-input__suffix password-input__suffix-button"
      aria-hidden="true"
      (mousedown)="showPassword()"
      (mouseup)="hidePassword()"
      (mouseleave)="hidePassword()"
      (touchstart)="showPassword()"
      (touchend)="hidePassword()"
    >
      {{ suffixLabel }}
    </div>
  </div>
</div>
