@import 'src/assets/styles/settings/settings';
@import 'src/assets/styles/helpers/helpers';

$suffix-width: 8ex;

.password-input {
  &__wrapper {
    position: relative;
  }
  &__label {
    &--required {
      &:after {
        content: '*';
      }
    }
  }
  &__input {
    background: transparent;
    z-index: 0;
  }
  &__width {
    &--10 {
      max-width: calc(23ex - $suffix-width);
      @include govuk-media-query($until: mobile) {
        max-width: 100%;
      }
    }
    &--20 {
      max-width: calc(41ex - $suffix-width);
      @include govuk-media-query($until: mobile) {
        max-width: 100%;
      }
    }
  }
  &__suffix-button {
    // We have to add this because the govuk- mixin only applies to :link
    color: $govuk-link-colour;
    @include govuk-link-common();
    @include govuk-link-style-default();
    cursor: pointer;
    text-decoration: underline;
    background-color: govuk-colour('white');
    width: $suffix-width;
    @include govuk-media-query($until: mobile) {
      width: 100%;
    }
  }
}
