<div class="operator-grid">
  <ng-container *ngIf="!loading && !errored">
    <div class="operator-grid__controls">
      <gds-text-input
        class="operator-grid__controls--filter"
        label="Search for an operator"
        name="filter"
        inputId="operator-grid-filter"
        width="20"
        [(ngModel)]="gridFilter"
      ></gds-text-input>
    </div>

    <ag-grid-angular
      class="ag-theme-wrapped-header"
      [rowData]="data"
      [rowHeight]="80"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      domLayout="autoHeight"
      [quickFilterText]="normalGridFilter"
      [pagination]="true"
      [paginationPageSize]="10"
      [suppressPaginationPanel]="true"
      (gridReady)="gridReady$.next()"
      (filterChanged)="filterChanged($event)"
      (paginationChanged)="paginationChanged$.next($event); paging.paginationChanged($event)"
      [noRowsOverlayComponentFramework]="overlayComponent"
      [noRowsOverlayComponentParams]="overlayParams"
    >
    </ag-grid-angular>
    <app-paging-panel #paging noun="operator"></app-paging-panel>
  </ng-container>
  <app-sparkline-factory></app-sparkline-factory>
  <app-spinner *ngIf="loading" [vCentre]="true" message="Loading..." size="default"> </app-spinner>
  <div class="operator-grid--errored" *ngIf="errored">
    <svg-icon class="operator-grid__icon" src="assets/icons/exclamation-in-circle.svg" [applyClass]="true"></svg-icon>
    <span class="operator-grid__message">There was an error loading operator data, please try again.</span>
  </div>
</div>
