@import 'src/assets/styles/settings/settings';
@import 'src/assets/styles/helpers/helpers';

.active-cell {
  display: flex;
  align-items: center;
  &__icon {
    color: govuk-colour('red');
    display: block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    align-self: baseline;
    .active-cell--active & {
      color: govuk-colour('green');
    }
  }
}
