@import 'src/assets/styles/settings/settings';
@import 'src/assets/styles/helpers/helpers';

:host {
  background-color: govuk-colour('light-grey');
  display: block;
}
.top-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  padding: govuk-spacing(1) 0;

  $search-offset: calc(50% + 30px);
  &__search {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
