<div [id]="identifier">
  <button
    [ngxTippy]="popoverContent"
    class="popover__trigger button-link"
    [tippyName]="identifier"
    [tippyProps]="tippyProps"
    *ngIf="triggerType === 'link'"
  >
    <svg-icon class="popover__icon" [applyClass]="true" src="assets/icons/{{ triggerIcon }}.svg" *ngIf="triggerIcon">
    </svg-icon>
    <span class="popover__label">{{ triggerLabel }}</span>
  </button>
  <gds-button
    [ngxTippy]="popoverContent"
    [tippyName]="identifier"
    [tippyProps]="tippyProps"
    spaceBelow="0"
    *ngIf="triggerType === 'button'"
    [text]="triggerLabel"
  ></gds-button>
  <div #popoverContent>
    <ng-content></ng-content>
  </div>
</div>
