@import 'src/assets/styles/settings/settings';
@import 'src/assets/styles/helpers/helpers';
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &__body {
    display: flex;
    flex-grow: 1;
  }
  &__content {
    flex: 1 1 auto;
    // overflow: hidden; TODO temporary hack to demo position: sticky - DO NOT RELEASE TO PRODUCTION
    &--narrow {
      max-width: calc(#{$govuk-page-width} + 40px);
      margin-left: auto;
      margin-right: auto;
    }
  }
}
