@import 'src/assets/styles/settings/settings';
@import 'src/assets/styles/helpers/helpers';

.contact {
  border-left: 1px solid govuk-colour('mid-grey');
  padding-left: govuk-spacing(3);
  margin-bottom: govuk-spacing(6);
  margin-top: govuk-spacing(6);
}
