$font-family-default: $govuk-font-family-gds-transport;
$font-color-default: govuk-colour('black');
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;

$font-weight-default: $font-weight-normal !default;
$line-height-default: 1.25;
$font-size-default: 1rem;

$font-size-body: 1.1875rem;
$line-height-body: 1.3157894737;
