<app-page>
  <ng-container ngProjectAs="content"
    ><app-page-header heading="Feed monitoring" spaceAbove="2"></app-page-header>

    <div *ngIf="loaded && inactiveOperators.length > 0">
      <h2 class="govuk-heading-m">Inactive feeds</h2>
      <div class="feed-monitoring__inactive-grid">
        <ag-grid-angular
          class="ag-theme-custom"
          [rowData]="inactiveOperators"
          [columnDefs]="inactiveColumns"
          [gridOptions]="gridOptions"
          [defaultColDef]="defaultColDef"
          [context]="context"
          domLayout="autoHeight"
          (gridReady)="onInactiveGridReady($event)"
          [pagination]="false"
          (paginationChanged)="paginationChanged($event)"
        >
        </ag-grid-angular>
      </div>
    </div>
    <div *ngIf="loaded; else loading">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Active feeds</h2>

      <div class="govuk-form-group">
        <label class="govuk-label" for="activeFilter">Search for an operator</label>
        <input class="govuk-input govuk-input--width-20" id="activeFilter" (input)="activeFilterChanged($event)" />
      </div>

      <div class="feed-monitoring__active-grid">
        <ag-grid-angular
          class="ag-theme-custom"
          [rowData]="filteredActiveOperators"
          [columnDefs]="activeColumns"
          [gridOptions]="gridOptions"
          [defaultColDef]="defaultColDef"
          [context]="context"
          domLayout="autoHeight"
          (gridReady)="onActiveGridReady($event)"
          [paginationPageSize]="10"
          [pagination]="true"
          [suppressPaginationPanel]="true"
          (paginationChanged)="paginationChanged($event); paging.paginationChanged($event)"
          [postSort]="postSort.bind(this)"
        >
        </ag-grid-angular>
        <app-paging-panel #paging noun="feed"></app-paging-panel>
      </div>
    </div>
    <ng-template #loading>
      <div class="feed-monitoring__loading">
        <app-spinner [vCentre]="true" message="Loading..." size="default"> </app-spinner>
      </div>
    </ng-template>

    <app-feed-monitoring-sparkline-cell-template #sparklineTemplate></app-feed-monitoring-sparkline-cell-template>
  </ng-container>
</app-page>
