@import 'src/assets/styles/settings/settings';
@import 'src/assets/styles/helpers/helpers';

:host {
  display: flex;
  flex-direction: column;
}

@include bp($desktop) {
  .page {
    &__main-wrapper {
      padding-left: govuk-spacing(4);
    }
  }
}
