<app-page>
  <ng-container ngProjectAs="content">
    <app-browser-title title="Sign in" [renderTitle]="false"></app-browser-title>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
          <gds-error-summary [errors]="errors"></gds-error-summary>
        </div>
      </div>
      <gds-fieldset legend="Sign in">
        <div class="login govuk-grid-row">
          <div class="govuk-grid-column-two-thirds-from-desktop">
            <gds-text-input
              inputId="login-username"
              formControlName="username"
              label="Email"
              width="20"
              [error]="getError('username')"
              [required]="true"
            >
            </gds-text-input>
            <gds-text-input
              inputId="login-password"
              formControlName="password"
              type="password"
              label="Password"
              width="20"
              [error]="getError('password')"
              [required]="true"
            ></gds-text-input>
            <gds-button text="Sign in" type="submit"></gds-button>
          </div>
          <div class="govuk-grid-column-one-third-from-desktop govuk-body">
            <h2 class="govuk-heading-m">Forgot your password?</h2>
            <a class="govuk-link" [routerLink]="['/forgot-password']">Reset your password</a>
          </div>
        </div>
      </gds-fieldset>
    </form>
  </ng-container>
</app-page>
