<app-page>
  <ng-container ngProjectAs="content"
    ><app-browser-title title="Forgot your password?" [renderTitle]="false"></app-browser-title>
    <ng-container *ngIf="!resetSuccess">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
          <form [formGroup]="forgottenPasswordForm" (ngSubmit)="onSubmit()">
            <gds-error-summary [errors]="errors"></gds-error-summary>
            <gds-fieldset legend="Reset your password">
              <gds-text-input
                inputId="forgot-password-email"
                formControlName="email"
                label="Email address"
                [error]="getError('email')"
                [required]="true"
                width="20"
                lowercase
              >
              </gds-text-input>
              <gds-button text="Continue" type="submit"></gds-button>
            </gds-fieldset>
          </form>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="resetSuccess">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
          <gds-panel title="Request received"></gds-panel>
          <p class="govuk-body">
            If this email address exists in our system we will have sent a password reset email. Check your email and
            follow the link within 24 hours to reset your password. If you cannot find the email then look in your spam
            or junk email folder.
          </p>
        </div>
      </div>
    </ng-container>
  </ng-container>
</app-page>
