<app-page>
  <ng-container ngProjectAs="content"
    ><app-page-header heading="Dashboard" spaceAbove="2" spaceBelow="2"></app-page-header>
    <div class="dashboard__controls">
      <app-operator-selector
        [allOperators]="allOperatorsSubject | async"
        [operator]="operatorSubject | async"
        (operatorChange)="changeOperator($event)"
        [allowAll]="true"
      >
      </app-operator-selector>
      <app-segmented-toggle [(ngModel)]="timingPointsOption" (ngModelChange)="onTimingPointsToggleChange()">
        <app-segmented-toggle-item
          name="stops-filter"
          identifier="all-stops"
          value="all-stops"
          label="All stops"
        ></app-segmented-toggle-item>
        <app-segmented-toggle-item
          name="stops-filter"
          identifier="timing-points"
          value="timing-points"
          label="Timing points"
        ></app-segmented-toggle-item>
      </app-segmented-toggle>
    </div>
    <div class="dashboard__layout">
      <div class="dashboard__performance">
        <app-box spaceBelow="6">
          <h2 class="govuk-heading-m">On-time performance</h2>
          <app-performance [filters]="performanceFilters$" [operators]="allOperatorsSubject | async" [nocCode]="nocCode"></app-performance>
        </app-box>
      </div>
      <div class="dashboard__feeds">
        <div class="dashboard__vehicles-status">
          <app-vehicles-status
            [actual]="currentVehicles"
            [expected]="expectedVehicles"
            [nocCode]="nocCode"
          ></app-vehicles-status>
        </div>
        <div class="dashboard__feed-alerts">
          <app-feed-status-summary [operators]="feedStatusOperators"></app-feed-status-summary>
        </div>
      </div>
    </div>
  </ng-container>
</app-page>
