<div class="corridors-grid">
  <gds-error-summary [errors]="deleteError"></gds-error-summary>
  <ng-container>
    <div class="corridors-grid__controls">
      <gds-text-input
        class="corridors-grid__controls--filter"
        label="Search for a corridor"
        name="filter"
        inputId="corridors-grid-filter"
        width="20"
        [(ngModel)]="gridFilter"
      ></gds-text-input>
      <button gdsButton routerLink="create" spaceAbove="4">Create new corridor</button>
    </div>

    <app-modal #deleteModal title="Delete corridor?" identifier="deleteCorridor">
      <p class="govuk-body">
        Are you sure you want to delete the corridor <strong>{{ corridorForDeletion?.name }}</strong
        >? This operation cannot be undone.
      </p>
      <div class="flex-row justify-content-between">
        <gds-button text="Cancel" spaceBelow="0" appearance="secondary" (click)="deleteModal.close()"></gds-button>
        <gds-button text="Delete corridor" spaceBelow="0" (click)="deleteCorridor()" appearance="warning"></gds-button>
      </div>
    </app-modal>

    <ag-grid-angular
      class="ag-theme-compact ag-theme-wrapped-header"
      [rowData]="data"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      domLayout="autoHeight"
      [quickFilterText]="gridFilter"
      (filterChanged)="filterChanged($event)"
      (gridSizeChanged)="$event.api.resetRowHeights()"
      [noRowsOverlayComponentFramework]="overlayComponent"
      [noRowsOverlayComponentParams]="overlayParams"
    >
    </ag-grid-angular>
  </ng-container>
  <app-spinner *ngIf="loading" [vCentre]="true" message="Loading..." size="default"></app-spinner>
  <div class="corridors-grid--errored" *ngIf="errored">
    <svg-icon class="corridors-grid__icon" src="assets/icons/exclamation-in-circle.svg" [applyClass]="true"></svg-icon>
    <span class="corridors-grid__message">There was an error loading operator data, please try again.</span>
  </div>
</div>
