@import 'src/assets/styles/settings/settings';
@import 'src/assets/styles/helpers/helpers';

.corridors-grid {
  position: relative;
  min-height: 300px;

  &__controls {
    margin-top: govuk-spacing(4);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    &--filter {
      flex-grow: 1;
      margin-right: govuk-spacing(4);
    }
  }
  &__icon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    color: $govuk-error-colour;
  }
  &--message {
    position: absolute;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
  }
}
