@import 'src/assets/styles/settings/settings';
@import 'src/assets/styles/helpers/helpers';

$stop-size: 30px;
$stop-surround: 3px;

.segment-selector {
  position: relative;
  height: $stop-size;
  &__stops-wrapper {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    pointer-events: none;
    z-index: $z-content + 1;
  }
  &__stop {
    background-color: govuk-colour('white');
    border-radius: 50%;
    width: $stop-size;
    height: $stop-size;
    pointer-events: auto;
    border: 5px solid $govuk-border-colour;
    box-shadow: 0 0 0 $stop-surround govuk-colour('white');
    &:hover {
      border-color: govuk-colour('black');
    }
    &:focus {
      border-color: govuk-colour('black');
      box-shadow: 0 0 0 $stop-surround $govuk-focus-colour;
      outline: none;
    }
  }
  &__segments-wrapper {
    display: flex;
    padding: 0 ($stop-size + $stop-surround);
  }
  &__segment {
    background-color: govuk-colour('light-grey');
    width: 100%;
    height: ($stop-size - 2px)/2;
    border-bottom-left-radius: 999em;
    border-bottom-right-radius: 999em;
    & ~ & {
      margin-left: ($stop-size + $stop-surround * 2);
    }
    &:hover {
      background-color: govuk-colour('light-blue');
    }
    &:focus {
      position: relative;
      position: relative;
      background-color: govuk-colour('light-blue');
      box-shadow: 0 2px 0 1px $govuk-focus-text-colour, 0 -1px 0 3px $govuk-focus-colour;
    }
    &:active,
    &--active {
      background-color: govuk-colour('blue');
    }
    &--all {
      margin: 0 ($stop-size + $stop-surround) 2px;
      width: calc(100% - #{(2 * ($stop-size + $stop-surround))});
      border-top-left-radius: 999em;
      border-top-right-radius: 999em;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
