<app-page>
  <ng-container ngProjectAs="content">
    <app-page-header heading="Users & permissions" caption="My organisation" spaceAbove="2"></app-page-header>
    <h2 class="govuk-body-l">{{ authenticatedUser?.organisation?.name }}</h2>
    <gds-button
      *ngIf="authenticatedUserIsOrgUser && authenticatedUserIsAdmin"
      text="Invite a new user"
      (click)="openModal()"
    ></gds-button>
    <app-invite-user-modal [identifier]="'inviteUser'"></app-invite-user-modal>
    <table *ngIf="loaded && !errored" class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Name</th>
          <th scope="col" class="govuk-table__header">Email</th>
          <!-- <th scope="col" class="govuk-table__header">Last login</th> -->
          <th scope="col" class="govuk-table__header">Role</th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr *ngFor="let user of users" class="govuk-table__row">
          <td class="govuk-table__cell">{{ user.firstName }} {{ user.lastName }}</td>
          <td class="govuk-table__cell">{{ user.email }}</td>
          <!-- <td class="govuk-table__cell">3 hours ago</td> -->
          <td class="govuk-table__cell">{{ user.roles[0].name }}</td>
          <td class="govuk-table__cell">
            <a
              [routerLink]="['edit', user.username]"
              class="govuk-link"
              *ngIf="authenticatedUserIsAdmin && user.email !== authenticatedUser?.email"
              >Edit</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</app-page>
