<div class="otp-legend">
  <div class="otp-legend__item">
    <span class="otp-legend__icon otp-legend__icon--on-time"></span>
    <span class="otp-legend__value">
      <strong>On-time</strong>
    </span>
  </div>
  <div class="otp-legend__item">
    <span class="otp-legend__icon otp-legend__icon--late"></span>
    <span class="otp-legend__value">
      <strong>Late</strong>
    </span>
    <span class="otp-legend__value otp-legend__value--muted">(> 5:59 minutes)</span>
  </div>
  <div class="otp-legend__item">
    <span class="otp-legend__icon otp-legend__icon--early"></span>
    <span class="otp-legend__value">
      <strong>Early</strong>
    </span>
    <span class="otp-legend__value otp-legend__value--muted">(> 1 minute)</span>
  </div>
</div>
