@import 'src/assets/styles/settings/settings';
@import 'src/assets/styles/helpers/helpers';

.otp-legend {
  display: flex;
  &__item {
    display: flex;
    align-items: center;
    margin-right: govuk-spacing(4);
  }
  &__icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: govuk-spacing(1);
    &--on-time {
      background-color: raas-colour('on-time');
    }
    &--early {
      background-color: raas-colour('early');
    }
    &--late {
      background-color: raas-colour('late');
    }
  }

  &__value {
    margin-top: 2px;
    &--muted {
      margin-left: govuk-spacing(1);
      color: $govuk-secondary-text-colour;
    }
  }
}
