@import 'src/assets/styles/settings/settings';
@import 'src/assets/styles/helpers/helpers';

.icon-cell {
  display: flex;
  align-items: center;
  &__icon {
    color: currentColor;
    display: block;
    width: rem(20);
    height: rem(20);
    flex-shrink: 0;
    align-self: baseline;
  }
}
