@import 'src/assets/styles/settings/settings';
@import 'src/assets/styles/helpers/helpers';

.all-operators {
  &__summary-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: govuk-spacing(6);
  }
  &__summary {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: govuk-spacing(6);
  }
  &__summary-column {
    flex-basis: 100%;
  }
  &__admin-areas {
    margin-bottom: govuk-spacing(6);
    width: 350px;
  }
}

@media only screen and (min-width: 40em) {
  .all-operators {
    &__summary-column {
      flex-basis: 47.5%;
      & + & {
        margin-left: 5%;
      }
    }
  }
}
