<div class="govuk-form-group" [attr.id]="identifier" [ngClass]="{ 'govuk-form-group--error': error }">
  <fieldset class="govuk-fieldset" [attr.aria-describedby]="hint ? identifier + '-hint' : null">
    <span *ngIf="error" [attr.id]="identifier + '-error'" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> {{ error }}
    </span>
    <legend
      class="govuk-fieldset__legend"
      [ngClass]="size === 'small' ? 'govuk-fieldset__legend--m' : 'govuk-fieldset__legend--l'"
      *ngIf="legend"
    >
      <h1 class="govuk-fieldset__heading">
        {{ legend }}
      </h1>
    </legend>
    <div *ngIf="hint" [attr.id]="identifier + '-hint'" class="govuk-hint">{{ hint }}</div>
    <div
      class="govuk-radios"
      [ngClass]="{
        'govuk-radios--small': size === 'small',
        'govuk-radios--inline': layout === 'inline',
        'govuk-radios--conditional': conditional === true
      }"
      data-module="govuk-radios"
    >
      <ng-content></ng-content>
    </div>
  </fieldset>
</div>
