<ng-container *ngIf="loading">
  <app-skeleton appearance="heading-l" width="350px"></app-skeleton>
  <app-skeleton appearance="body" width="100%"></app-skeleton>
  <app-skeleton appearance="body" width="100%"></app-skeleton>
  <app-skeleton appearance="body" width="100%"></app-skeleton>
  <app-skeleton appearance="body" width="100%"></app-skeleton>
  <hr class="govuk-!-margin-top-7 govuk-!-margin-bottom-7" />
  <app-skeleton appearance="heading-l" width="350px"></app-skeleton>
  <app-skeleton appearance="body" width="100%"></app-skeleton>
  <app-skeleton appearance="body" width="100%"></app-skeleton>
  <app-skeleton appearance="body" width="100%"></app-skeleton>
  <app-skeleton appearance="body" width="100%"></app-skeleton>
  <hr class="govuk-!-margin-top-7 govuk-!-margin-bottom-7" />
</ng-container>

<ng-container *ngIf="patterns.length > 0">
  <div *ngFor="let pattern of patterns; let last = last">
    <h2 class="govuk-!-margin-top-6">{{ pattern[0].lineNumber }}: {{ pattern[0].servicePattern }}</h2>
    <div class="journey-search-grid">
      <div *ngFor="let journey of pattern">
        <a
          class="govuk-link govuk-body journey-search-grid__time"
          [routerLink]="['/vehicle-journeys', journey.vehicleJourneyId]"
          [queryParams]="{
            startTime: journey.startTime?.toUTC()?.toISO({ format: 'basic', suppressSeconds: true }),
            operator: operatorId,
            service: serviceId
          }"
          >{{ journey.startTime?.toFormat('HH:mm') }}</a
        >
      </div>
    </div>
    <hr *ngIf="!last" />
  </div>
</ng-container>
